@charset "UTF-8";

/* Typical Device Breakpoints 
/* Small devices such as large phones (640px and up) */
/* @media only screen and (min-width: 40em) {...} */

/* Medium devices such as tablets (768px and up) */
/* @media only screen and (min-width: 48em) {...} */

/* Large devices such as laptops (1024px and up) */
/* @media only screen and (min-width: 64em) {...}

 Largest devices such as desktops (1280px and up) 
/* @media only screen and (min-width: 80em) {...} */

@media only screen and (min-width: 40em) and (max-width: 64em) {

    body {
        background-image: linear-gradient(to bottom, #d91900, #1d1c1c);
    }

    section#login {
        width: 90vw;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
        background-size: cover;
    }

    section#login > div#formulario {
        float: left;
        width: 60%;
        height: 100%;
    }

    form > input[type=submit] {
        border-radius: 5px;
        transition: 0.3s;
    }

    form > a.botao {
        border-radius: 5px;
        transition: 0.3s;
    }
}

@media only screen and (min-width: 64em) {

    body {
        background-image: linear-gradient(to bottom, #d91900, #1d1c1c);
    }

    section#login {
        width: 70vw;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background-size: cover;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1.2em;
    }

    form > input[type=submit] {
        border-radius: 5px;
        transition: 0.3s;
    }

    form > a.botao {
        border-radius: 5px;
    }
}