@charset "UTF-8";

  /* vermelho: #d91900; */

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #1e1d1d;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 500px;
    background-color: rgba(0, 26, 42, 0.705);
    width: 300px;
    height: 510px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(255, 58, 32, 0.436);

    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #1d1d1df8 url(../estilos/imagens/pexels-marko-blazevic-2708981.jpg) no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 20px;
    color: white;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px; 
}

div#formulario > p {
    font-size: 0.9em;
}

form > div.campo {
    background-color: #1e1d1d;
    border: 2px solid #1e1d1d;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: #fff6f5;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #faf2f0;
    color: #fff6f5;
    font-size: 0.8em;
    width: calc(100% - 44px);
    height: 100%;
    transform: translateY(-15px);
    border: none;
    border-radius: 8px;
    padding: 4px;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #d91900;
    color: rgb(239, 236, 236);
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #8b1000;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    background-color: #da4834;
    color: #fff6f5;
    border: 1px solid #d91900;
    text-decoration: none;
    border-radius: 35px;
}

form > a.botao:hover {
    background-color: #fff6f5;
    color: #1e1d1d;
}